/* src/styles/modal.css */
@import './themes.css';
@import './animations.css';

@keyframes pulsateGradient {
  0%, 100% {
    /* UP */
    transform: translateY(40%) scaleX(2); 
  }
  50% {
    /* DOWN */
    transform: translateY(100%) scaleX(0.5);

  }
}
@keyframes pulsatePrimaryBoxShadow {
  0%, 100% {
    /* UP */
    box-shadow: 0px 20px 20px -25px var(--primary-offset);
  }
  50% {
    /* DOWN */
    box-shadow: 0px 15px 15px -85px var(--primary);
  }
}
@keyframes pulsateSecondaryBoxShadow {
  0%, 100% {
    /* UP */
    box-shadow: 0px 20px 20px -25px var(--secondary-offset);
  }
  50% {
    /* DOWN */
    box-shadow: 0px 15px 15px -85px var(--secondary);
  }
}
@keyframes pulsateSuccessBoxShadow {
  0%, 100% {
    /* UP */
    box-shadow: 0px 20px 20px -25px var(--success-offset);
  }
  50% {
    /* DOWN */
    box-shadow: 0px 15px 15px -85px var(--success);
  }
}
@keyframes pulsateCautionBoxShadow {
  0%, 100% {
    /* UP */
    box-shadow: 0px 20px 20px -25px var(--caution-offset);
  }
  50% {
    /* DOWN */
    box-shadow: 0px 15px 15px -85px var(--caution);
  }
}
@keyframes pulsateDangerBoxShadow {
  0%, 100% {
    /* UP */
    box-shadow: 0px 20px 20px -25px var(--danger-offset);
  }
  50% {
    /* DOWN */
    box-shadow: 0px 15px 15px -85px var(--danger);
  }
}
@keyframes pulsateInfoBoxShadow {
  0%, 100% {
    /* UP */
    box-shadow: 0px 20px 20px -25px var(--info-offset);
  }
  50% {
    /* DOWN */
    box-shadow: 0px 15px 15px -85px var(--info);
  }
}
@keyframes pulsateImportantBoxShadow {
  0%, 100% {
    /* UP */
    box-shadow: 0px 20px 20px -25px var(--important-offset);
  }
  50% {
    /* DOWN */
    box-shadow: 0px 15px 15px -85px var(--important);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 1000;
}

.modal-overlay.open {
  visibility: visible;
  opacity: 1;
}

.modal {
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: var(--text-dark);
  max-width: 600px;
  background: transparent;
  margin: 0 20px;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, background 4s ease-in-out;
}

.modal.open {
  transform: translateY(0);
  opacity: 1;
  position: relative;
  overflow: hidden;
}

.modal.open.pulsate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: pulsateGradient 4s infinite ease-in-out;
}

.modal.open.pulsate.primary {
  box-shadow: 0px 15px 15px -85px var(--primary);
  animation: pulsatePrimaryBoxShadow 4s infinite ease-in-out;
}

.modal.open.pulsate.primary:before {
  background: radial-gradient(circle at bottom, var(--primary-offset) 0%, transparent 50%);
}

.modal.open.pulsate.secondary {
  box-shadow: 0px 15px 15px -85px var(--secondary);
  animation: pulsateSecondaryBoxShadow 4s infinite ease-in-out;
}

.modal.open.pulsate.secondary:before {
  background: radial-gradient(circle at bottom, var(--secondary-offset) 0%, transparent 50%);
}

.modal.open.pulsate.success {
  box-shadow: 0px 13px 13px -15px var(--success-offset);
  animation: pulsateSuccessBoxShadow 4s infinite ease-in-out;
}

.modal.open.pulsate.success:before {
  background: radial-gradient(circle at bottom, var(--success-offset) 0%, transparent 50%);
}

.modal.open.pulsate.danger {
  box-shadow: 0px 13px 13px -15px var(--danger-offset);
  animation: pulsateDangerBoxShadow 4s infinite ease-in-out;
}

.modal.open.pulsate.danger:before {
  background: radial-gradient(circle at bottom, var(--danger-offset) 0%, transparent 50%);
}

.modal.open.pulsate.caution {
  box-shadow: 0px 13px 13px -15px var(--caution-offset);
  animation: pulsateCautionBoxShadow 4s infinite ease-in-out;
}

.modal.open.pulsate.caution:before {
  background: radial-gradient(circle at bottom, var(--caution-offset) 0%, transparent 50%);
}

.modal.open.pulsate.info {
  box-shadow: 0px 13px 13px -15px var(--info-offset);
  animation: pulsateInfoBoxShadow 4s infinite ease-in-out;
}

.modal.open.pulsate.info:before {
  background: radial-gradient(circle at bottom, var(--info-offset) 0%, transparent 50%);
}

.modal.open.pulsate.important {
  box-shadow: 0px 13px 13px -15px var(--important-offset);
  animation: pulsateImportantBoxShadow 4s infinite ease-in-out;
}

.modal.open.pulsate.important:before {
  background: radial-gradient(circle at bottom, var(--important-offset) 0%, transparent 50%);
}

.modal-title {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
  transform: translateY(-40px);
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
  user-select: none;
}

.modal:hover > .modal-title {
  filter: brightness(1.25);
}

.modal-title.open {
  transform: translateY(0);
}

.modal-content {
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  transform: translateY(20px);
  transition: transform 0.5s ease-in-out;
}

.modal-buttons.open {
  transform: translateY(0);
}

.primary-title {
  color: var(--primary);
}

.secondary-title {
  color: var(--secondary);
}

.success-title {
  color: var(--success);
}

.danger-title {
  color: var(--danger);
}

.caution-title {
  color: var(--caution);
}

.info-title {
  color: var(--info);
}

.important-title {
  color: var(--important);
}

.modal-icon {
  font-size: 64px;
  margin-bottom: 100px;
  transition: margin-bottom 0.5s ease-in-out;
}

.modal.open .modal-icon {
  margin-bottom: 20px;
}